<div id="login-container">
  <%= link_to oauth_path(provider: 'github') do %>
    <%= image_tag 'excitebike-logo.jpg', width: '150', height: '150' %>

    <%= fa_icon 'github' %>
    Login with Github
  <% end %>
</div>
