<div id="default-content">
  <h2>PerfCheckJob ID: <%= params[:id] %> <u>Not Found</u></h2>
  <br />
  <hr />
  <br />
  <h1>Pick a job or <u><%= link_to 'Create One', [:new, :job] %></u></h1>
  <%= image_tag 'arrow.png', style: 'width: 300px; height: auto; margin-top: 20px;' %>
</div>
