<div id="header">
  <h1>Perf Check Status Page</h1>
</div>
<div id="status-content"><span data-reactroot="" class="system-status offline">Daemon Offline <%= fa_icon 'times' %></span></div>
<div id="status-content"><span data-reactroot="" class="system-status offline">Daemon Offline <%= fa_icon 'times' %></span></div>
<div id="status-content"><%= link_to "#{fa_icon 'plus'} New PerfCheck".html_safe, '#', class: 'styled-button re-run pull-right' %></div>
