development: &default
  # The directory that we will be performance testing
  app_dir: ../perf_check/test_app

  # All configured keys are added to the PerfCheck options.
  perf_check_options:
    environment: development
    spawn_shell: true

  # Alert thresholds specify how to qualify performance regression/improvemens
  limits:
    queries: 75         # max number of queries in a request before warning is raised
    latency: 4000       # max request latency before warning is raised
    change_factor: 0.09  # latency change threshold triggering alternate phrasing

  # github OAUTH config
  github_key: YOUR-GITHUB-KEY
  github_secret: YOUR-GITHUB-SECRET
  github_token: YOUR-GITHUB-TOKEN

  # Whitelist users to a certain github organization
  github_organization:

  # github webhook config
  github_webhook_secret: YOUR-WEBHOOK-SECRET
  github_user: perf-check-bot

production:
  <<: *default

  # Action Cable needs to know who it should accept requests from
  cable_request_origins: yourdomain.com

staging: *default