development: &default
  app_dir: ../perf_check/test_app
  default_arguments: -n20 --deployment
  limits:
    queries: 75         # max number of queries in a request before warning is raised
    latency: 4000       # max request latency before warning is raised
    change_factor: 0.09  # latency change threshold triggering alternate phrasing

  github_key: YOUR-GITHUB-KEY
  github_secret: YOUR-GITHUB-SECRET
  github_callback_url: http://localhost:3000/oauth/callback?provider=github
  github_user: perf-check-bot

test: *default

staging: *default

production:
  github_key: YOUR-GITHUB-KEY
  github_secret: YOUR-GITHUB-SECRET
  github_callback_url: http://localhost:3000/oauth/callback?provider=github
  github_user: perf-check-bot
