<div id="default-content">
  <h1>Pick a job or <u><%= link_to 'Create One', [:new, :perf_check_job] %></u></h1>
  <%= image_tag 'arrow.png', style: 'width: 300px; height: auto; margin-top: 20px;' %>
</div>